<a href="{{ .Permalink }}" class="catalogue-item">
    <div>
        <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
        <h1 class="catalogue-title">{{ .Title }}</h1>
        <div class="catalogue-line"></div>

        <p>
            {{ if isset .Params "summary" }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }}
        </p>
    </div>
</a>
{{ if isset .Params "tags" }}
<p>
    <strong>Tags:</strong>
    {{ range  $key := .Param "tags" }}
    <a class="tags-item" href="/tags/{{ $key }}">{{ $key }}</a>
    {{ end }}
</p>
{{ end }}
